<%-layout("layouts/boilerplate.ejs")%>
<body>
    <div class="row mt-3"><!--to align them in row and margin-top of 0.75 rem-->
        <div class="col-8 offset-2"><!--to align them in 8 column if u have 12 columns  and with left offset of 0.5rem-->
        <br><br>
        <h3>Create a New Listing</h3>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data"><!--enctype="multipart/form-data"  is used  to send files links pdf,png,jpeg,etc to backend as we cannot send data back to backend by express.urlencoded({ [extended: true] or [endcoded:true] }) then we will use multer -->
            <div class="mb-3"><!--mb-3 is class of bootstrap to give a 3px margin-bottom-->
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="Enter a catchy Title" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Title Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Title.
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" type="text" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please enter a short Desciption .
                </div>
            </div>
            <!-- <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input name="listing[image]" placeholder="Enter Image URL/Link" type="text" class="form-control">
            </div> -->
            <div class="mb-3">
                <label for="image" class="form-label">Upload Listing Image</label>
                <input name="listing[image]"  type="file" class="form-control"><!--changing type="file" capturing link of image-->
                required
            </div>
            
            <!--keeping price ans country on same line for col-md-4 and col-md-8 respectively-->
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="1200" type="number" class="form-control" required>
                <div class="invalid-feedback">
                    Please choose a Price.
                </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                    <div class="invalid-feedback">
                        Please choose a country.
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Bengaluru, Karnataka" type="text" class="form-control" required>
                <div class="invalid-feedback">
                    Please choose a Location.
                </div>
            </div>
            <button class="btn btn-dark add-btn mt-3">Add</button><!--class="btn btn-dark" to make dark button from bootstrap and add-btn class to change color from style.css and mt-3 gives margion from top of 0,75 rem-->
            <br><br>
        </form>
        </div>
    </div>
</body>